body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    background: transparent;
    color: white;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timer-display {
    text-align: center;
    font-size: 2em; 
    color: #333;
    margin: 10px 0; 
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttons-container {
    display: flex;
    flex-direction: column; /* Les boutons en colonne pour les petits écrans */
    gap: 10px;
}

.timer-button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #88cc88;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 1em;
}

.timer-button:hover {
    background-color: #77bb77;
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
    color: #fff;
}

/* Média queries pour un design adaptatif */
@media (min-width: 768px) {
    .timer-display {
        font-size: 4em; /* Taille plus grande pour les écrans plus larges */
    }

    .buttons-container {
        flex-direction: row; /* Les boutons en ligne pour les écrans plus larges */
    }
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    margin: 10px 0;
  }
  
  .progress-bar-inner {
    height: 100%;
    background-color: #4caf50;
    width: 0%;
    border-radius: 10px;
    transition: width 0.5s linear;
  }
  
  .completed-cycles {
    margin-top: 10px;
  }
  
  .theme1, body {
    background-image: url('./images/DALL·E\ 2023-11-15\ 05.25.41\ -\ A\ neatly\ organized\ workspace\ in\ a\ room\ with\ soft\ natural\ lighting.\ On\ a\ wooden\ desk\,\ there\'s\ an\ open\ laptop\ with\ a\ screensaver\ of\ a\ misty\ forest\,\ the\ .png');
  }
  
  .theme2 {
    background-image: url('./images/tMNHx6S.gif');
  }
  
  .theme3 {
    background-image: url('./images/6ad702123631583.60f21069bd0ec.gif');
  }

  .theme4 {
    background-image: url('./images/tumblr_static_tumblr_static_2i5cn6zq5qw4c8ocss0csokkc_focused_v3.gif');
  }
  .theme5 {
    background-image: url('./images/image_processing20210327-21243-rsbrxd.gif');
  }
  .theme-selector {
    text-align: center;
    margin: 30px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.5);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 1em;
  }
  
  .theme-button {
    display: flex;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .theme-button:hover {
    background-color: #3e8e41;
    transform: translateY(-2px); 
  }
