body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('./images/DALL·E\ 2023-11-15\ 05.08.16\ -\ A\ minimalistic\ and\ lo-fi\ chill\ workspace\ for\ a\ Pomodoro\ website\ background.\ The\ scene\ includes\ a\ light\ wooden\ desk\ with\ a\ sleek\ laptop\,\ a\ small\ green\ .png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

body::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Overlay noir semi-transparent */
    z-index: -1; /* Assurez-vous que l'overlay est en arrière-plan */
}

.container {
    margin-top: 50px;
}

#display {
    font-size: 2em;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px;
}
