@keyframes pulseColor {
    0%, 100% {
        background-color: #F69BFA; /* Ajustez la couleur de départ selon vos préférences */
    }
    50% {
        background-color: #82FBFA; /* Ajustez la couleur à mi-chemin selon vos préférences */
    }
}

body {
    animation: pulseColor 5s infinite ease-in-out;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('./images/DALL·E\ 2023-11-15\ 05.25.41\ -\ A\ neatly\ organized\ workspace\ in\ a\ room\ with\ soft\ natural\ lighting.\ On\ a\ wooden\ desk\,\ there\'s\ an\ open\ laptop\ with\ a\ screensaver\ of\ a\ misty\ forest\,\ the\ .png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}



.container {
    margin-top: 50px;
}

#display {
    font-size: 2em;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px;
}
